.popup {
  height: inherit;
  width: 100%;
  width: -moz-available;
  width: -webkit-fill-available;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}

@media all and (max-width: 320px) {
  .popup {
    top: 0;
    left: 0;
    max-width: 320px;
  }
}