.edit-user-profile-form__input {
  width: 358px;
  border: none;
  border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
  padding: 0 0 13px;
  margin: 30px 0 0;
  box-sizing: border-box;
  line-height: 17px;
  justify-content: center;
  display: flex;
  font-size: 14px;
  font-weight: normal;
  font-family: 'Inter', 'Arial', sans-serif;
}

@media all and (max-width: 767px) {
  .edit-user-profile-form__input {
    max-width: 238px;
    margin-left: 22px;
  }
}