.form__save-button {
  background-color: #000;
  color: #fff;
  max-width: 358px;
  min-height: 50px;
  border: none;
  margin: 35px 0 37px;
  font-size: 18px;
  line-height: 22px;
  font-weight: normal;
}

.form__save-button:hover {
  background-color: rgba(0, 0, 0, .8);
  cursor: pointer;
}


@media all and (max-width: 767px) {
  .form__save-button {
    min-width: 238px;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 32px auto 25px;
  }
}
