.posts-gallery__like-button {
  border: none;
  padding: 0;
  height: 19px;
  min-width: 22px;
  margin: 5px 5px 1px 0;
  background: url(../../../src/buttons/like-button.svg) #fff;
}

.posts-gallery__like-button:hover {
  opacity: .5;
  cursor: pointer;
}
