.header {
  max-width: 880px;
  margin: 0 auto;
  padding: 45px 0 41px;
  box-sizing: border-box;
  border-bottom: 1px rgba(84, 84, 84, .7) solid;
}

@media all and (max-width: 880px) {
  .header {
    padding: 45px 35px 41px;
  }
}

@media all and (max-width: 767px) {
  .header {
    padding: 28px 0 31.6px;
    width: 100%;
  }
}
