.user-panel__user-name {
  color: #fff;
  font-weight: 500;
  font-size: 42px;
  margin: 0 18px 0 0;
  padding: 0;
  display: flex;
}

@media all and (max-width: 1023px) {
  .user-panel__user-name {
    font-weight: 500;
    font-size: 27px;
  }
}


@media all and (max-width: 320px) {
  .user-panel__user-name {
    margin: 0 10px 0 0;
    padding-left: 65px;
    box-sizing: border-box;
  }
}


