.user-panel__user-signature {
  max-width: 336px;
  color: #fff;
  font-weight: 400;
  font-size: 18px;
  margin: 16px 0 0;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}

@media all and (max-width: 1023px) {
  .user-panel__user-signature {
    margin: 0;
  }
}


@media all and (max-width: 767px) {
  .user-panel__user-signature {
    margin: 14px auto 0;
    font-size: 14px;
    max-width: 282px;
  }
}

