.popup__close-button {
  border: none;
  background: url(../../../src/buttons/close-button.svg) transparent;
  width: 32px;
  height: 32px;
  top: calc(50% - 165px - 40px);
  left: calc(50% + 215px + 8px);
  padding: 0;
  position: absolute;
}

.popup__close-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media all and (max-width: 767px) {
  .popup__close-button {
    left: calc(50% + 115px);
    top: calc(50% - 164px - 36px);
    transform: scale(0.625);
  }
}
