.user-panel__edit-button {
  border: 0;
  margin: 15px 0 0;
  padding: 0;
  background-color: #000;
  min-width: 24px;
  height: 24px;
  background-image: url(../../../src/buttons/edit-button.svg);
}

.user-panel__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media all and (max-width: 1023px) {
  .user-panel__edit-button {
    margin-top: 5px;
  }
}

@media all and (max-width: 767px) {
  .user-panel__edit-button {
    margin-top: 3px;
    transform: scale(0.75);
  }
}
