.user-panel__edit-button {
  border: 0;
  margin: 15px 0 0 18px;
  padding: 0;
  min-width: 24px;
  height: 24px;
  background: #000 url(../../../src/buttons/edit-button.svg);
}

.user-panel__edit-button:hover {
  opacity: .6;
  cursor: pointer;
}

@media all and (max-width: 1023px) {
  .user-panel__edit-button {
    margin: 5px 0 0 18px;
  }
}

@media all and (max-width: 767px) {
  .user-panel__edit-button {
    margin: 3px 0 0 10px;
    transform: scale(0.75);
  }
}
