.edit-user-profile-form {
  border-radius: 10px;
  background-color: #fff;
  width: 430px;
  height: 330px;
  box-sizing: border-box;
  padding-left: 36px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 195px;
  left: 50%; /* position the left edge of the element at the middle of the parent */
  transform: translateX(-50%);
  visibility: hidden;
}