* {
  border: 1px blue solid;
}


.page {
  font-family: Inter, 'Arial', sans-serif;
  max-width: 1280px;
  height: 100%;
  position: relative;
  background-color: #000;
  box-sizing: border-box;
  margin: 0 auto;
}


@media all and (max-width: 1279px) {
  .page {
    max-width: 1024px;
  }
}

@media all and (max-width: 1023px) {
  .page {
    max-width: 768px;
  }
}

@media all and (max-width: 320px) {
  .page {
    max-width: 320px;
  }
}